<%= form_for(@complaint) do |f| %>
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @complaint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for @complaint do |f| %>
    <%= f.error_notification %>

    <div class="large-12 columns">
    <%= f.input :complaint_type, label: false, as: :text, :placeholder => "What is this?", input_html: { class: ''} %>

    </div>


    <div class="large-3 columns">
    <%= f.input :provoke, label: false, as: :text, :placeholder => "What provoked it?", input_html: { class: ''} %>
    </div>

    <div class="large-3 columns">
    <%= f.input :quality, label: false, as: :text, :placeholder => "What's its quality?", input_html: { class: ''} %>
    </div>

    <div class="large-3 columns">
    <%= f.input :radiation, label: false, as: :text, :placeholder => "Does it radiate anywhere?", input_html: { class: ''} %>
    </div>

    <div class="large-3 columns">
    <%= f.input :time, label: false, as: :text, :placeholder => "Have you noticed any patterns in it's timing?", input_html: { class: ''} %>
    </div>

    <div class="large-3 large-centered columns">
    <%= f.input :severity, label: "What it's severity?", :placeholder => "What's the severity of your pain?", collection: 1..10 %>
    </div>


    <div class="large-12 columns">

      <input type="text" data-date-time="" id="complaint_onset" name="complaint[onset]" />

    </div>

    <div class="large-centered small-centered text-center columns">
    <%= f.button :submit, "Record Pain" ,:class => "submit"  %>
    </div>

  <% end %>


<% end %>
