<%= form_for(@complaint) do |f| %>
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @complaint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for @complaint do |f| %>
    <%= f.error_notification %>

    <div class="row">
    <div class="large-4 medium-4 columns">
    <%= f.input :complaint_type, as: :text, :placeholder => "Are you having pain, headache, or feeling sick?", input_html: { class: ''} %>

    </div>

    <div class="large-8 medium-8 columns">
      <label class="text optional control-label" for="complaint_onset">Onset</label>
      <input type="text" data-date-time="" id="complaint_onset" name="complaint[onset]" label="Onset" value=<%= @complaint.onset %> />

    </div> 
    </div>
    <br>

    <div class="row">
    <div class="large-3 medium-3 columns">
    <label class="text optional control-label" for="complaint_provoke">Provocation or Palliate</label>
    <textarea type="text optional" id="complaint_provoke" name="complaint[provoke]" placeholder="What makes it worse or better?"><%= @complaint.provoke %></textarea>
    <%-# data-tooltip class="has-tip" title="P is for provoke: Is there any movement, pressure or other external factor that makes the problem worse">-%>
    </div>

    <div class="large-3 medium-3 columns">
    <%= f.input :quality,  as: :text, :placeholder => "What's its quality?", input_html: { class: ''} %>
    </div>

    <div class="large-3 medium-3 columns">
    <label class="text optional control-label" for="complaint_radiation">Region and Radiation</label>
    <textarea type="text optional" id="complaint_radiation" name="complaint[radiation]" placeholder="What's its region and does it radiate anywhere?"><%= @complaint.radiation %></textarea>
    </div>

    <div class="large-3 medium-3 columns">
    <label class="text optional control-label" for="complaint_time">Time (history)</label>
    <textarea type="text optional" id="complaint_time" name="complaint[time]" placeholder="Have you noticed any patterns in it's timing?" ><%= @complaint.time %></textarea>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="large-3 medium-3 large-centered medium-centered columns">
    <%= f.input :severity, label: "What it's severity?", :placeholder => "What's the severity of your pain?", collection: 1..10 %>
    </div>
    </div>

    <div class="large-centered small-centered text-center columns">
    <%= f.button :submit, "Record" ,:class => "submit"  %>
    </div>

  <% end %>



<% end %>
