<h1>Listing complaints</h1>


<% @complaints.each do |complaint| %>
<table style="float: left;margin-left:4px;margin-right:4px;">
<td>
<table>
<tr>
  <td></td>
  <td><%= complaint.complaint_type %></td> 
</tr>
<tr>
  <td>O</td>
  <td><%= complaint.onset.strftime("%Y-%m-%d %H:%M") %></td> 
</tr>
<tr>
  <td>P</td>
  <td><%= complaint.provoke %></td> 
</tr>
<tr>
  <td>Q</td>
  <td><%= complaint.quality %></td> 
</tr>
<tr>
  <td>R</td>
  <td><%= complaint.radiation %></td> 
</tr>
<tr>
  <td>S</td>
  <td><%= complaint.severity %></td> 
</tr>
<tr>
  <td>T</td>
  <td><%= complaint.time %></td> 
</tr>
</td>
<table>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</table>
</table>
</table>

<% end %>

<div style="clear: both"></div>

<table style="margin-left:4px">
<td><%= link_to 'New Complaint', new_complaint_path %></td>
</table>
