<br>

<div class="large columns">
    <div class="overlay-container">
        <%= image_tag "Masthead.jpg" %>
		<div class="overlay">

       	</div>    
    </div>      
</div>



<div class="large columns">
<div class="slide1 slide">
<div class="page-centered-container">
<div class="page-centered">
<h1><span>PQRST: Pain, Headache & Symptom Tracking</span></h1>
</div>
</div>
</div>
</div>

<section>
	<%= simple_form_for @complaint do |f| %>
		<%= f.error_notification %>

		<div class="row">
		<div class="large-4 medium-4 columns">
		<%= f.input :complaint_type, as: :text, :placeholder => "Are you having pain, headache, or feeling sick?", input_html: { class: ''} %>

		</div>

		<div class="large-8 medium-8 columns">
			<label class="text optional control-label" for="complaint_onset">Onset</label>
			<input type="text" data-date-time="" id="complaint_onset" name="complaint[onset]" label="Onset" />

		</div> 
		</div>
		<br>

		<div class="row">
		<div class="large-3 medium-3 columns">
		<label class="text optional control-label" for="complaint_provoke">Provocation or Palliate</label>
		<textarea type="text optional" id="complaint_provoke" name="complaint[provoke]" placeholder="What makes it worse or better?"></textarea>
		<%-# data-tooltip class="has-tip" title="P is for provoke: Is there any movement, pressure or other external factor that makes the problem worse">-%>
		</div>

		<div class="large-3 medium-3 columns">
		<%= f.input :quality,  as: :text, :placeholder => "What's its quality?", input_html: { class: ''} %>
		</div>

		<div class="large-3 medium-3 columns">
		<label class="text optional control-label" for="complaint_radiation">Region and Radiation</label>
		<textarea type="text optional" id="complaint_radiation" name="complaint[radiation]" placeholder="What's its region and does it radiate anywhere?"></textarea>
		</div>

		<div class="large-3 medium-3 columns">
		<label class="text optional control-label" for="complaint_time">Time (history)</label>
		<textarea type="text optional" id="complaint_time" name="complaint[time]" placeholder="Have you noticed any patterns in it's timing?" ></textarea>
		</div>
		</div>
		</div>

		<div class="row">
		<div class="large-3 medium-3 large-centered medium-centered columns">
		<%= f.input :severity, label: "What it's severity?", :placeholder => "What's the severity of your pain?", collection: 1..10 %>
		</div>
		</div>

		<div class="large-centered small-centered text-center columns">
		<%= f.button :submit, "Record" ,:class => "submit"  %>
		</div>

	<% end %>
</section>

<div class="large columns">
<div class="slide2 slide slide-bg-grey">
<div class="page-centered-container">
<div class="page-centered">
<h1><span>What's PQRST?</span></h1>
</div>
</div>
</div>
</div>

<div class="section2">
<section class="explain-PQRST">
	<div class="row">
		<div class="large-3 columns">
			<p><b>P is for provoke</b>: Is there any movement, pressure or other external factor that makes the problem worse</p>
		</div>

		<div class="large-3 columns">
			<p><b>Q is for quality</b>: Is what you feel sharp, dull, crushing, burning, tearing, or some other feeling, along with the pattern, such as intermittent, constant, or throbbing</p>
		</div>

		<div class="large-3 columns">
			<p><b>R is for region and radiation</b>: Where the pain is on the body and whether it radiates (extends) or moves to any other area</p>
		</div>

		<div class="large-3 columns">
			<p><b>T is for time</b>: How long the condition has been going on, has changed (getting better, worse, different symptoms) has it ever happened before, whether and how it may have changed since onset</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 large-centered columns">
			<p><b>S is for severity</b>: Rate your pain from zero to ten where Zero is no pain and ten is the worst possible pain</p>
		</div>
	</div>
</section>
</div>