<br>

<div class="large columns">
    <div class="overlay-container">
        <%= image_tag "Masthead.jpg" %>
		<div class="overlay">
            <span>PQRST: Pain & Symptom Tracker</span>
       	</div>    
    </div>    
</div>

<div class="large columns">
<div class="slide1 slide">
<div class="page-centered-container">
<div class="page-centered">
<h1><span>Lets get tracking</span></h1>
</div>
</div>
</div>
</div>

<section>
	<%= simple_form_for @complaint do |f| %>
		<%= f.error_notification %>

		<div class="large-12 columns">
		<%= f.input :complaint_type, label: false, as: :text, :placeholder => "What is this?", input_html: { class: ''} %>

		</div>


		<div class="large-3 columns">
		<%= f.input :provoke, label: false, as: :text, :placeholder => "What provoked it?", input_html: { class: ''} %>
		</div>

		<div class="large-3 columns">
		<%= f.input :quality, label: false, as: :text, :placeholder => "What's its quality?", input_html: { class: ''} %>
		</div>

		<div class="large-3 columns">
		<%= f.input :radiation, label: false, as: :text, :placeholder => "Does it radiate anywhere?", input_html: { class: ''} %>
		</div>

		<div class="large-3 columns">
		<%= f.input :time, label: false, as: :text, :placeholder => "Have you noticed any patterns in it's timing?", input_html: { class: ''} %>
		</div>

		<div class="large-3 large-centered columns">
		<%= f.input :severity, label: "What it's severity?", :placeholder => "What's the severity of your pain?", collection: 1..10 %>
		</div>


		<div class="large-12 columns">

			<input type="text" data-date-time="" id="complaint_onset" name="complaint[onset]" />

		</div>

		<div class="large-centered small-centered text-center columns">
		<%= f.button :submit, "Record Pain" ,:class => "submit"  %>
		</div>

	<% end %>
</section>

<div class="large columns">
<div class="slide2 slide slide-bg-grey">
<div class="page-centered-container">
<div class="page-centered">
<h1><span>What's PQRST?</span></h1>
</div>
</div>
</div>
</div>

<div class="section2">
<section class="explain-PQRST">
	<div class="row">
		<div class="large-3 columns">
			<p><b>P is for provoke</b>: Is there any movement, pressure or other external factor that makes the problem worse</p>
		</div>

		<div class="large-3 columns">
			<p><b>Q is for quality</b>: Is what you feel sharp, dull, crushing, burning, tearing, or some other feeling, along with the pattern, such as intermittent, constant, or throbbing</p>
		</div>

		<div class="large-3 columns">
			<p><b>R is for region and radiation</b>: Where the pain is on the body and whether it radiates (extends) or moves to any other area</p>
		</div>

		<div class="large-3 columns">
			<p><b>T is for time</b>: How long the condition has been going on, has changed (getting better, worse, different symptoms) has it ever happened before, whether and how it may have changed since onset</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 large-centered columns">
			<p><b>S is for severity</b>: Rate your pain from zero to ten where Zero is no pain and ten is the worst possible pain</p>
		</div>
	</div>
</section>
</div>